/* .calendar__header_week,
.calendar__body_container_columns_week {
  display: grid;
  padding: 0;
  text-align: center;
}

.calendar__fz {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 13px #dadada;
  user-select: none;
}

.calendar__header_week {
  margin-bottom: 15px;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.calendar__body_week {
  position: relative;
}
.calendar__body_container_columns_week {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.calendar__body_container_columns_week > div {
  border-right: 1px solid #dadada;
  position: relative;
}

.calendar__body_week_rows {
  z-index: 1;
  position: relative;
  transition: background-color 0.5s;
}
.calendar__body_week_rows > div:hover {
  background-color: rgba(127, 255, 212, 0.226);
  transition: background-color 0.5s;
}

.calendar__header_week div div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bolder;
  font-size: 35px;
}

.calendar__header_week > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 8px;
}

.calendar-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-description-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --calendar-height-row: 36px;
  --width-label-hours: 60px;
}

.calendar__row__hours {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dadada;
  position: absolute;
  top: -10px;
  background: #8c8c8c;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 3px 4px;
}

.calendar__row {
  height: var(--calendar-height-row);
  border-top: 1px solid #dadada;
  box-sizing: border-box;
  position: relative;
}

.height-row-week {
  height: var(--calendar-height-row);
}

.calendar__body_task {
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: all;
  background-color: rgba(242, 244, 243, 0.745);
  border-radius: 10px;
  transition: height 0.3s;
}

.calendar__body_task .calendar__body_task_scaleY {
  position: absolute;
  bottom: -20px;
  width: 100%;
  opacity: 0;
  padding-top: 5px;
  display: inline-block;
  left: 0;
}

.calendar__body_task .calendar__body_task_scaleY:hover {
  cursor: ns-resize;
  opacity: 1;
}

.calendar__body_task_scaleY::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: rgba(0, 255, 255, 0.096);
  display: inline-block;
  border-radius: 10px;
}

.calendar__body-backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.24);
  top: 0px;
}

.calendar__task_actions {
  position: absolute;
  top: -15px;
  right: 3px;
  display: none;
  gap: 3px;
  width: 100%;
  justify-content: end;
}


.calendar__body_task:hover .calendar__task_actions {
  display: flex;
}

.calendar__task_button {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__task_actions button:disabled.is-loading::after {
  height: 12px;
  width: auto;
}

.calendar__task_actions button:disabled {
  pointer-events: none;
  fill: gray;
  background-color: #dadada;
}

.is-loading::after {
  content: "";
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: inline-block;
  animation: isLoading 1.3s 0.3s linear infinite;
  margin-inline: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-right: rgb(21, 138, 233) 2px solid;
  border-top: rgb(21, 138, 233) 2px solid;
  width: 18px;
}

button:disabled.is-loading::after,
.loading {
  width: 18px;
}

@keyframes isLoading {
  100% {
    transform: rotate(360deg);
  }
}


.calendar-remove_task-transition {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.3s ease-in-out;
} */

/* .calendar-remove_task-transition-text::before {
  content: "Eliminado con exito";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #dadada;
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translate(-50%, -100%)
} */

/*Nuevo data*/

:root {
  --calendar-height-row: 36px;
  --width-label-hours: 60px;
}
.calendar-fz {
  min-width: 600px;
}
.calendar__header_column--disabled {
  color: #cfcfcf;
}

.calendar__header_column__day {
  font-size: 30px;
}

.calendar__header_column {
  text-align: center;
  /* margin-bottom: 20px; */
}

.calendar__body_week {
  position: relative;
}

.calendar__body_week__rows__row {
  height: var(--calendar-height-row);
  display: flex;
}
.calendar__body_week__rows__row :nth-child(2) {
  border-top: 1px solid #dadada;
  flex-grow: 2;
}
.calendar__row__hour {
  height: var(--calendar-height-row);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width-label-hours);
  /* background: aliceblue; */
  position: sticky;
  left: 0px;
}

.calendar__row__hour > span {
  position: relative;
  top: -18px;
  width: 100%;
  text-align: center;
  width: 88%;
  text-align: center;
  background: rgb(221 236 236);
  border-radius: 5px;
  padding-block: 1px;
}

.calendar__column_hours {
  width: var(--width-label-hours);
  position: absolute;
  top: 0;
  left: 0;
}

.calendar__header_week {
  margin-left: var(--width-label-hours);
}

.calendar__header_week_container {
  background: white;
  z-index: 10;
  position: sticky;
  top: 0;
  margin-bottom: 15px;
}

.calendar__body_week_columns {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - var(--width-label-hours));
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: grid;
  margin-left: var(--width-label-hours);

}

.calendar__body_column {
  border-right: 1px solid #dadada;
  position: relative;
}

.calendar__body_column--disabled {
  background-color: #f7f4f4;
  border: none;
}

.calendar__body_task {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: all;
  padding: 3px;
  box-sizing: border-box;
}
.calendar__task_animation{
  /* transition: height 0.3s; */
  animation: scale-up-center-normal 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0s 1 normal forwards; 

}

.calendar__task {
  background-color: aquamarine;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  border : 1px solid #6e6b6b;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}

.calendar__task__footer {
  font-size: 12px;
}

/* ----------------------------------------------
* Generated by Gradienty on 2024-12-27 20:05
* animation scale-up-center-normal
* ----------------------------------------
*/
@keyframes scale-up-center-normal {0% { transform: scale(0.5); } 100% { transform: scale(1);} }


